#aparna {
  background-color: deeppink;
  font-size: 10px;

  text-align: center;

  p {
    color: forestgreen;
  }

  a {
    color: goldenrod;
  }

  // div.aparna{
  //   text-align: center;
  //   font-size: 10px;
  // }
  //Delete this line and add more properties here!
}
//properties for other classes/ids can be declared here!
