#aparna {
  background-color: deeppink;
  p{
    color:forestgreen;
  }
  a{
    color:goldenrod;
  }

  text-align: center;
  font-size: 10px;

  // div.aparna{
  //   text-align: center;
  //   font-size: 10px;
  // }
  //Delete this line and add more properties here!
}
//properties for other classes/ids can be declared here!
