a{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}


#jennifer {
  background-color: lightseagreen;
  line-height: 5px;
  //Delete this line and add more properties here!
}

#message{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color:antiquewhite
}
//properties for other classes/ids can be declared here!
