#section2 {
  background-color: lavender;
}

.name {
  color: orange;
  font-size: 50px;
  font-weight: 600;
}

#list {
  border: thick solid red;
  color: pink;
  font-size: 25px;
  font-weight: 300;
}
