#section2 {
  background-color: lavender;

}

.name {
  font-size: 50px;
  color: orange;
  font-weight: 600;
}

#list {
  font-size: 25px;
  color: pink;
  font-weight: 300;
  border: thick solid red;
}
