#section1 {
  align-items: center;
  background-color: rgb(110, 255, 163);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 200;
}

#title {
  border: thick solid white;
  color: rgb(255, 76, 192);
  font-size: 50px;
}
