#section12 {
  background-color:white;
  display: flex;
  flex-flow: column;
}

#name{
  color:black;
  font-size: 36pt;
  justify-content: center;
}


.header2{
  color: purple;
  font-size: 24pt;
}
.reason1{
  color: black;
  font-size:16pt;
}


