.section5 {
  background-color: lightblue; 
  font-family: 'Times New Roman', Times, serif;
}
#test{
  font-family:'Times New Roman', Times, serif;
  color:darkblue; 
  font-weight: bold;
}

.test2{
  color: purple;
  margin: 20px;
  padding-bottom: 30px;
  border: dotted;
}
